<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div class="container" layout:fragment="content">
    <h1>BankAccount Register</h1>
    <form th:action = "@{/bankaccount}" method="POST">
        <div class="form-group">
            <label for="inputID">ID</label><br>
            <input type = input name = "id" id = "inputID" class="form-control" >
            <br>


            <div class="form-group">
                <label for="inputCustomerID">Custommer ID</label>
                <br>
                <input type = input name = "customerId" id = "inputCustomerId" class="form-control" >
                <br>


                <div class="form-group">
                    <label for="inputType">  Type</label>
                    <br>
                    <input type = input name = "type" id = "inputType"  class="form-control" >
                    <br>


                    <div class="form-group">
                        <label for="inputBalance" >  Balance</label>
                        <br>

                        <input type = input name = "balance" id = "inputBalance" class="form-control">
                        <br>
                        <br>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success">
    </form>
    <hr>


    <h3>Account</h3>
    <br>
    <table border="3px" class="table table-dark ">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">customerID</th>
            <th scope="col">type</th>
            <th scope="col">balance</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "Account : ${AllAccount}">
            <td th:text = "${Account.id}" scope="row"></td>
            <td th:text = "${Account.customerId}"></td>
            <td th:text = "${Account.type}"></td>
            <td th:text = "${Account.balance}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
